<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Special Tours</h4>
          <ul>
            <li *ngFor="let item of menuItems">{{item}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Corporate Tours</h4>
          <ul>
            <li *ngFor="let item of response">{{item}}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Cruises</h4>
          <ul>
            <li *ngFor="let item of regionNames">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  